{% extends 'base.html' %}
{% load static %}

{% block title %}About Me{% endblock title%}

{% block content %}
  <h1>About Leopoldo Miranda</h1>
  <h3>Fronted developer Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, sit.</h3>
  <div class="row">
    <div class="col-md-4">
      <img src="{% static 'img/profile-picture.jpg'%}" alt="" style="width:40%">
    </div>
    <div class="col-md-8">
      <p>Hi mi name is Leopoldo, I enjoy playing  guitar and learning new things</p>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos consectetur animi voluptates cumque sed eligendi maxime distinctio porro recusandae omnis. Quae minima optio exercitationem tempora nam. Ullam nam distinctio in!</p>
    </div>
  </div>

  <p><a href="{% url 'home' %}">Click here</a>to go to the homepage</p>

{% endblock content %}